@using PagedList
@using PagedList.Mvc
@model IPagedList<eFashionStore.Models.NguoiDung>

@{
    ViewBag.Title = "UserAccount";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Customer List</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","HomeAdmin")">Home</a></li>
                <li class="breadcrumb-item active">Customer list</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard" style="background-color: white; padding: 20px; border-radius: 20px; box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); margin-bottom: 20px;">
        <header id="header" class="header d-flex align-items-center" style="border-radius:20px;margin-bottom:20px;">
            <div class="search-bar" style="width:98%">
            </div>
        </header>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Full name")
                </th>
                <th>
                    @Html.DisplayName("Email")
                </th>
                <th>
                    @Html.DisplayName("Address")
                </th>
                <th>
                    @Html.DisplayName("Phone number")
                </th>
                <th>
                    @Html.DisplayName("Account name")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SDT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenTaiKhoan)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "UpdateCus", new { id = item.UserID.ToString().Trim() })
                    </td>
                </tr>
            }
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                @if (Model.PageCount > 1)
                {
                    <li class="page-item @(Model.IsFirstPage ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("ListCus", "CustomerAdmin", new { page = 1 })" tabindex="-1" aria-disabled="@(Model.IsFirstPage ? "true" : "false")">First</a>
                    </li>

                    <li class="page-item @(Model.IsFirstPage ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("ListCus", "CustomerAdmin",  new { page = Model.PageNumber - 1 })" tabindex="-1" aria-disabled="@(Model.IsFirstPage ? "true" : "false")">Previous</a>
                    </li>
                    for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="@Url.Action("ListCus", "CustomerAdmin",  new { page = i })">@i</a>
                        </li>
                    }

                    <li class="page-item @(Model.IsLastPage ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("ListCus", "CustomerAdmin", new { page = Model.PageNumber + 1 })">Next</a>
                    </li>

                    <li class="page-item @(Model.IsLastPage ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("ListCus", "CustomerAdmin", new { page = Model.PageCount })">End</a>
                    </li>
                }
            </ul>
        </nav>
    </section>
</main>


