@model IEnumerable<eFashionStore.Data.HangHoa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenHH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTaDonVi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiamGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLanXem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaNCC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenHH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTaDonVi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiamGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLanXem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaNCC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaHH }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaHH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaHH })
        </td>
    </tr>
}

</table>
