@model IEnumerable<eFashionStore.Models.CartModel>
<div class="wrapper">
    <div class="container_fullwidth">
        <div class="container shopping-cart">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title">
                        Shopping Cart
                    </h3>
                    <div class="clearfix">
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (Model != null && Model.Any())
                        {
                            <table class="shop-table">
                                <thead>
                                    <tr>
                                        <th>
                                            Image
                                        </th>
                                        <th>
                                            Details
                                        </th>
                                        <th>
                                            Quantity
                                        </th>
                                        <th>
                                            Price
                                        </th>
                                        <th>
                                            Price Reduction
                                        </th>
                                        <th>
                                            Delete
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <img src="@item.Hinh" alt="">
                                            </td>
                                            <td>
                                                <div class="shop-details">
                                                    <div class="productname">
                                                        @item.TenSp
                                                    </div>
                                                    <p>
                                                        Discount : @Math.Round(@item.GiamGia, 0) %
                                                    </p>
                                                </div>
                                            </td>
                                            <td>
                                                <h5>
                                                    @item.SoLuong
                                                </h5>
                                            </td>
                                            <td>
                                                <h5>
                                                    @Math.Round(item.Gia * @item.SoLuong).ToString("N0")<span>₫</span>
                                                </h5>
                                            </td>
                                            <td>
                                                <h5>
                                                    <strong class="red">
                                                        @Math.Round((item.Gia * (1 - (item.GiamGia / 100))) * item.SoLuong).ToString("N0")<span>₫</span>
                                                    </strong>
                                                </h5>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Delete", "Cart", new { id = item.MaSp.Trim() })">
                                                    <img src="~/Content/store/images/remove.png" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="6">
                                            <button class="pull-left">
                                                <a href="@Url.Action("Index", "Product")">Continue Shopping</a>
                                            </button>
                                            <button class=" pull-right">
                                                <a href="@Url.Action("ListCarts", "Cart")">Update Shopping Cart</a>
                                            </button>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>

                            <div class="clearfix">
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="shippingbox">
                                        <h5>Discount Codes</h5>
                                        @if (!string.IsNullOrEmpty(ViewBag.Message))
                                        {
                                            <div class="alert alert-danger">
                                                @ViewBag.Message
                                            </div>
                                        }
                                        <form asp-action="ListCarts" method="post">
                                            <label>
                                                Enter your coupon code if you have one
                                            </label>
                                            <input type="text" name="couponCode" class="form-control" />
                                            <div class="clearfix"></div>
                                            <button type="submit" class="btn btn-primary">
                                                Use coupon
                                            </button>
                                        </form>
                                        @if (!string.IsNullOrEmpty(ViewBag.Coupon))
                                        {
                                            <div>
                                                <br />
                                                <p>Coupon Code: @ViewBag.Coupon</p>
                                                <p>Discount Value: @ViewBag.GiamGiaCoupon %</p>
                                            </div>
                                        }
                                    </div>
                                </div>
                                
                                <div class="col-md-4 col-sm-6">
                                    <div class="shippingbox">
                                        <div class="summary-item" style="font-size:17px"><span class="text">Quantity: </span><span class="price">@ViewBag.CountProduct</span></div>
                                        <div class="summary-item" style="font-size:17px"><span class="text" style="font-size:17px">Total price: </span><span class="price">@ViewBag.SubTotal.ToString("N0")<span>₫</span></span></div>
                                        <div class="summary-item" style="font-size:17px"><span class="text" style="font-size:17px">Discount: </span><span class="price">@ViewBag.Discount.ToString("N0")<span>₫</span></span></div>
                                        <div class="summary-item" style="font-size:17px"><span class="text" style="font-size:17px">Transport: </span><span class="price">0<span>₫</span></span></div>
                                        <br />
                                        <div class="summary-item" style="font-size:18px"><span class="text">Total amount: </span><span class="price" style="color:orange">@ViewBag.Total.ToString("N0")<span>₫</span></span></div>
                                        <br /> <br />



                                    </div>

                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="shippingbox">

                                        <div>
                                            <label for="Ten" style="font-size:15px">Name: <span>@ViewBag.HoTen</span></label>
                                        </div>
                                        <div>
                                            <label for="SDT" style="font-size:15px">Phone Number: <span>@ViewBag.SDT</span></label>
                                        </div>
                                        <div>
                                            <label for="Email" style="font-size:15px">Email: <span>@ViewBag.Email</span></label>
                                        </div>
                                        <div>
                                            <label for="DiaChi" style="font-size:15px">Address: <span>@ViewBag.DiaChi</span></label>
                                        </div>

                                    </div>
                                </div>
                                <button class=" pull-right">
                                    <a href="@Url.Action("OrderConfirmation", "Cart")">Order Confirmation</a>
                                </button>
                            </div>
                        }
                        else
                        {
                            <h4>ㅤ</h4>
                            <h4>ㅤ</h4>
                            <h4>ㅤ</h4>
                            <h4>ㅤ</h4>
                            <h4>Empty</h4>
                            <h4>ㅤ</h4>
                            <h4>ㅤ</h4>
                            <h4>ㅤ</h4>
                            <h4>ㅤ</h4>
                            <tfoot>
                                <tr>
                                    <td colspan="6">
                                        <button class="pull-left">
                                            <a href="@Url.Action("Index", "Product")">Continue Shopping</a>
                                        </button>
                                        <button class=" pull-right">
                                            <a href="@Url.Action("ListCarts", "Cart")">Update Shopping Cart</a>
                                        </button>
                                    </td>
                                </tr>
                            </tfoot>
                        }


                    }
                    else
                    {
                        <h4>ㅤ</h4>
                        <h4>ㅤ</h4>
                        <h4>ㅤ</h4>
                        <h4>ㅤ</h4>
                        <a href="@Url.Action("Login", "Account", new { ReturnUrl = Url.Action("ListCarts", "Cart") })" class="btn btn-primary">Login to purchase</a>
                        <h4>ㅤ</h4>
                        <h4>ㅤ</h4>
                        <h4>ㅤ</h4>
                        <h4>ㅤ<br />ㅤ<br />ㅤ<br />ㅤ</h4>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <button class="pull-left">
                                        <a href="@Url.Action("Index", "Product")">Continue Shopping</a>
                                    </button>
                                    <button class=" pull-right">
                                        <a href="@Url.Action("ListCarts", "Cart")">Update Shopping Cart</a>
                                    </button>
                                </td>
                            </tr>
                        </tfoot>
                    }
                </div>
                   
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>

