<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<div class="wrapper">
    <div class="container_fullwidth">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="checkout-page">
                        <ol class="checkout-steps">
                            <li class="steps active">
                                <a class="step-title">
                                    FlatShop
                                </a>
                                <div class="step-description">
                                    <div class="row">

                                        <div class="col-md-6 col-sm-6">
                                            <div class="run-customer">
                                                <h5>
                                                    ResetPassword
                                                </h5>
                                                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "row g-3 needs-validation", @novalidate = "novalidate" }))
                                                {
                                                    <div class="col-12">
                                                        @Html.Label("Mã xác thực:", null, new { @class = "form-label" })
                                                        @Html.TextBox("MaXacThuc", null, new { @class = "form-control", @id = "yourUsername", @required = "required", @placeholder = "nhập mã xác thực được gửi qua email" })
                                                        @if (ViewBag.CodeError != null)
                                                        {
                                                            <span class="badge badge-danger" style="color:red">@ViewBag.CodeError</span>
                                                        }
                                                    </div>
                                                    <div class="col-12">
                                                        @Html.Label("New password:", null, new { @class = "form-label" })
                                                        @Html.Password("MatKhau", null, new { @class = "form-control", @id = "yourPassword", @required = "required", @placeholder = "Enter new password", @minlength = 6 /* @autocomplete = "off" */ })
                                                        @if (ViewBag.Password != null)
                                                        {
                                                            <span class="badge badge-danger" style="color:red">@ViewBag.Password</span>
                                                        }
                                                    </div>
                                                    <div class="col-12">
                                                        <button class="btn btn-primary w-100" type="submit">Login</button>
                                                    </div>
                                                    <div>
                                                        @if (ViewBag.ThieuThongTin != null)
                                                        {
                                                            <span class="badge badge-danger" style="color:red">@ViewBag.ThieuThongTin</span>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ol>
                    </div>
                </div>
            </div>
            <div class="clearfix">
            </div>
            <div class="our-brand">
            </div>
            <div class="our-brand">
            </div>
            <div class="our-brand">
            </div>
        </div>
    </div>

</div>