@model eFashionStore.Models.SanPham
@{
    ViewBag.Title = "DeleteProduct";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>View product details</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","HomeAdmin")">Home</a></li>
                <li class="breadcrumb-item active">View product details</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard" style="display:flex">
        <div>
            <div class="card mb-3" style="width:512px; border-radius:20px; padding:20px;">
                <img src="@Html.DisplayFor(model => model.Hinh)" style="width: 512px;height:412px;justify-content:center ;border-radius: 20px; " class="img-fluid rounded-start" alt="...">
            </div>
            <div class="card mb-3" style="max-width: 512px;border-radius:20px;">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(model => model.TenSP)</h5>
                            <ul>
                                <li><p class="card-text" style="color:red">Product name: @Html.DisplayFor(model => model.MaSP)</p></li>
                                <br />
                                <li><p class="card-text">Remaining quantity: @Html.DisplayFor(model => model.SoLuong)</p></li>
                                <br />
                                <li><p class="card-text">Product price: @Html.DisplayFor(model => model.Gia)</p></li>
                                <br />
                                <li><p class="card-text">Discount: @Html.DisplayFor(model => model.GiamGia)</p></li>
                                <br />
                                <li><p class="card-text">Product type: @Html.DisplayFor(model => model.LoaiSP.TenLoai)</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="max-width: 900px; border-radius:20px;padding:20px;margin-left:20px;">
            <div class="card-body" style="display:flex;justify-content:left;flex-wrap:wrap">
                <h3 style="font-weight:bold"> Describe: </h3>
                <p class="card-text" style="margin-left:100px;margin-right:100px;text-align:justify">
                    <ul>
                        <li>
                            @Html.DisplayFor(model => model.MoTa)
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </section>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="submit">Delete</button>
        </div>
        <a href="@Url.Action("Index","HomeAdmin")" style="text-decoration:none;font-size:15px;color:black;margin-left:20px;">
            <i class="fa-solid fa-backward"></i>  Back to list
        </a>
    }
</main>