@using PagedList
@using PagedList.Mvc
@model IPagedList<eFashionStore.Models.Coupon>

@{
    ViewBag.Title = "BrandPR";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>List Of Coupon Codes</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","HomeAdmin")">Home</a></li>
                <li class="breadcrumb-item active">List of Coupon codes</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard" style="background-color: white; padding: 20px; border-radius: 20px; box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); margin-bottom: 20px;">
        <div class="card mb-4">
            <div class="card-header" style="background-color:royalblue;color:white;border-radius:20px;">
                <i class="fas fa-table me-1"></i>
                List of Coupon Codes
            </div>
        </div>

        <div class="card-body">
            <header id="header" class="header d-flex align-items-center" style="border-radius:20px;margin-bottom:20px;">
                <div class="search-bar" style="width:100%">
                </div>
            </header>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayName("Coupon Code")
                    </th>
                    <th>
                        @Html.DisplayName("Discount")
                    </th>
                    <th>
                        Other
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaCoupon)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GiamGia)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "UpdateCP", new { id = item.MaCoupon.ToString().Trim() }) |
                            @Html.ActionLink("Delete", "DelCP", new { id = item.MaCoupon.ToString().Trim() })
                        </td>
                    </tr>
                }

            </table>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                @if (Model.PageCount > 1)
                {
                    <li class="page-item @(Model.IsFirstPage ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("ListCP", "ProductAdmin", new { page = 1 })" tabindex="-1" aria-disabled="@(Model.IsFirstPage ? "true" : "false")">First</a>
                    </li>

                    <li class="page-item @(Model.IsFirstPage ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("ListCP","ProductAdmin",  new { page = Model.PageNumber - 1 })" tabindex="-1" aria-disabled="@(Model.IsFirstPage ? "true" : "false")">Previous</a>
                    </li>
                    for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="@Url.Action("ListCP","ProductAdmin",  new { page = i })">@i</a>
                        </li>
                    }

                    <li class="page-item @(Model.IsLastPage ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("ListCP", "ProductAdmin", new { page = Model.PageNumber + 1 })">Next</a>
                    </li>

                    <li class="page-item @(Model.IsLastPage ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("ListCP", "ProductAdmin", new { page = Model.PageCount })">End</a>
                    </li>
                }
            </ul>
        </nav>
        <p>
            <button class="btn btn-primary" onclick="window.location.href='@Url.Action("CreateCP","ProductAdmin")'">Create new Coupon code</button>
        </p>
    </section>
</main>



