<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="@Url.Action("Index","HomeAdmin")">
                <i class="bi bi-grid"></i>
                <span>Home Admin</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Product Management</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="@Url.Action("ListPT","ProductAdmin")">
                        <i class="bi bi-circle"></i><span>Product type</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ListCP","ProductAdmin")">
                        <i class="bi bi-circle"></i><span>Coupon</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Components Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Customers</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="@Url.Action("ListCus","CustomerAdmin")">
                        <i class="bi bi-circle"></i>User<span></span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ListOrder","CustomerAdmin")">
                        <i class="bi bi-circle"></i><span>Order</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ListReview","CustomerAdmin")">
                        <i class="bi bi-circle"></i><span>Review</span>
                    </a>
                </li>

            </ul>
        </li><!-- End Forms Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="@Url.Action("Index", "Home", new {area = ""})">
                <i class="bi bi-box-arrow-right"></i>
                <span>Back to shopping</span>
            </a>
        </li>
    </ul>

</aside><!-- End Sidebar-->