@model eFashionStore.Models.ProductModel
<div class="wrapper">
    <div class="container_fullwidth">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="products-details">
                        <div class="preview_image">
                            <div class="preview-small">
                                <img id="zoom_03" src="@Model.ItemDetails.Hinh" data-zoom-image="@Model.ItemDetails.Hinh" alt="">
                            </div>
                        </div>
                        <form action="@Url.Action("AddToCart", "Cart")" method="post">
                            <input type="hidden" name="id" value="@Model.ItemDetails.MaSP" />
                            <div class="products-description">
                                <h5 class="name">
                                    @Model.ItemDetails.TenSP
                                </h5>
                                <p>
                                    <img alt="" src="images/star.png">
                                    <a class="review_num" href="#">
                                        @Model.Reviews.Count() Review(s)
                                    </a>
                                </p>
                                <p>
                                    Availability:
                                    <span class=" light-red">
                                        @(Model.ItemDetails.TonKho ? "In Stock" : "Out of Stock")
                                    </span>
                                </p>
                                <hr class="border">
                                <div class="price">
                                    Price :
                                    <span class="new_price">
                                        @Math.Round(Model.ItemDetails.Gia * (1 - (Model.ItemDetails.GiamGia / 100))).ToString("N0")
                                        <sup>
                                            đ
                                        </sup>
                                    </span>
                                    <span class="old_price">
                                        @Model.ItemDetails.Gia.ToString("N0")
                                        <sup>
                                            $
                                        </sup>
                                    </span>
                                </div>
                                <hr class="border">
                                <div class="wided">
                                    <div class="qty">
                                        Quantity:
                                        <input type="number" id="Quantity" name="quantity" value="1" min="1" />
                                    </div>
                                    <div class="button_group">
                                        <button class="button">
                                            Add To Cart
                                        </button>
                                        <button class="button favorite">
                                            <i class="fa fa-heart-o">
                                            </i>
                                        </button>
                                    </div>
                                </div>
                                <div class="clearfix">
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="clearfix">
                    </div>
                    <div class="tab-box">
                        <h4>DESCRIPTION</h4>
                        <div class="tab-content-wrap">
                            <div class="tab-content">
                                @Model.ItemDetails.MoTa
                            </div>
                        </div>
                    </div>

                    <div class="clearfix">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="clearfix">
                    </div>   
                    <br />
                    @{
                        var isAuthenticated = User.Identity.IsAuthenticated;
                    }

                    @if (isAuthenticated)
                    {
                        using (Html.BeginForm("SubmitReview", "Product", FormMethod.Post))
                        {
                            <div class="form-group">
                                <label for="SoSao">Rate:</label>
                                <select name="SoSao" id="SoSao">
                                    <option value="5">5 star</option>
                                    <option value="4">4 star</option>
                                    <option value="3">3 star</option>
                                    <option value="2">2 star</option>
                                    <option value="1">1 star</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="BinhLuan">Comment:</label>
                                <textarea name="BinhLuan" id="BinhLuan" rows="4" cols="50"></textarea>
                            </div>
                            <input type="hidden" name="MaSp" value="@Model.ItemDetails.MaSP" />
                            <button type="submit" class="btn btn-primary">Send</button>
                        }
                    }
                    else
                    {
                        <p>Hey! <a style="color:orange" href="@Url.Action("Login", "Account", new { ReturnUrl = Url.Action("Details", "Product", new { id = Model.ItemDetails.MaSP.Trim() }) })">Login</a> to review the product.</p>
                    }

                    <br /> <br />
                    <h4>REVIEWS</h4>
                    <br /><br />
                    @foreach (var review in Model.Reviews)
                    {
                        <div>
                            <p><span style="font-size:15px">@review.HoTen</span> - @review.SoSao sao</p>
                            <p>@review.BinhLuan</p>
                        </div>
                    }
                    <div class="clearfix">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">
    </div>
</div>
