﻿
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Content/store/images/favicon.png">
    <title>Welcome to FlatShop</title>
    <link href="/Content/store/css/bootstrap.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,500italic,100italic,100' rel='stylesheet' type='text/css'>
    <link href="/Content/store/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Content/store/css/flexslider.css" type="text/css" media="screen" />
    <link href="/Content/store/css/sequence-looptheme.css" rel="stylesheet" media="all" />
    <link href="/Content/store/css/style.css" rel="stylesheet">
</head>
<body id="home">
    <div class="wrapper">
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <div class="logo"><a href="/"><img src="/Content/store/images/logo.png" alt="FlatShop"></a></div>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <div class="header_top">
                            <div class="row">
                                <div class="col-md-3">
                                    <ul class="option_nav">
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="topmenu">
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <ul class="usermenu">
                                        @{
                                            var isAuthenticated = Session["UserName"] != null;
                                            var userName = isAuthenticated ? Session["UserName"].ToString() : "Guest";
                                        }
                                        @if (isAuthenticated)
                                        {
                                            <li><a href="#" class="log"> @userName</a></li>
                                            <li>
                                                <a class="nav-link collapsed" href="@Url.Action("Index","HomeAdmin", new {area = "Admin", UserName = Session["UserName"].ToString()})">
                                                    <i class="bi bi-person"></i>
                                                    <span>Admin</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="reg" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>

                                                @Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logout-form", style = "display:none;" })
                                                {
                                                }
                                            </li>
                                        }
                                        else
                                        {
                                            <li><a href="@Url.Action("Login", "Account")" class="log">Login</a></li>
                                            <li><a href="@Url.Action("Register", "Account")" class="reg">Register</a></li>
                                        }
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="header_bottom">
                            <ul class="option">
                                <li id="search" class="search">
                                    <form action="@Url.Action("Search", "Product")" method="get"><input class="search-submit" type="submit" value=""><input class="search-input" placeholder="Enter your search term..." type="text" value="" name="key"></form>
                                </li>
                                <li class="option-cart">
                                    <a href="@Url.Action("ListCarts", "Cart")" class="cart-icon">cart <span class="cart_no"></span></a>
                                </li>
                            </ul>
                            <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                    <li><a href="@Url.Action("Index", "Product")">Shop</a></li>
                                    <li><a href="@Url.Action("Contact", "Home")">contact us</a></li>
                                    @if (isAuthenticated)
                                    {
                                        <li><a style="color:orange" href="@Url.Action("Order", "Order")">[ Your Order ]</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        @RenderBody()

        <div class="clearfix"></div>
        <div class="footer">
            <div class="footer-info">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="footer-logo"><a href="#"><img src="/Content/store/images/logo.png" alt=""></a></div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h4 class="title">Contact <strong>Info</strong></h4>
                            <p>Lam Van Ben, District 7, Ho Chi Minh</p>
                            <p>Call Us : 099 1900 1900</p>
                            <p>Email : flatshop181@gmail.com</p>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h4 class="title">Customer<strong> Support</strong></h4>
                            <ul class="support">
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Payment Option</a></li>
                                <li><a href="#">Booking Tips</a></li>
                                <li><a href="#">Infomation</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h4 class="title">Get Our <strong>Newsletter</strong></h4>
                            <p>I would like to register for the FlatShop newsletter.</p>
                            <form class="newsletter">
                                <input type="text" id="newsletter-email" placeholder="Type your email....">
                                <input type="submit" value="SignUp" class="button" onclick="registerNewsletter()">
                            </form>
                        </div>

                        <script>
                            function registerNewsletter() {
                                var email = document.getElementById('newsletter-email').value;
                                var subject = "Register FlatShop";
                                var body = "I would like to register for the FlatShop newsletter.";

                                var mailto_link = 'mailto:flatshop181@gmail.com?subject=' + encodeURIComponent(subject) +
                                    '&body=' + encodeURIComponent(body + '\n\nEmail: ' + email);

                                window.location.href = mailto_link;
                            }
                        </script>

                    </div>
                </div>
            </div>
            <div class="copyright-info">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Copyright © 2024. All rights reseved</p>
                        </div>
                        <div class="col-md-6">
                            <ul class="social-icon">
                                <li><a href="#" class="linkedin"></a></li>
                                <li><a href="#" class="google-plus"></a></li>
                                <li><a href="#" class="twitter"></a></li>
                                <li><a href="#" class="facebook"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript==================================================-->
    <script type="text/javascript" src="/Content/store/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/Content/store/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/Content/store/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Content/store/js/jquery.sequence-min.js"></script>
    <script type="text/javascript" src="/Content/store/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script defer src="/Content/store/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/Content/store/js/script.min.js"></script>
</body>
</html>